$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;

// Import Zen Grids.
@import "zen";

$zen-column-count: 4;
$zen-gutter-width: 10px;

$layout-top-row-height: 40%;
$layout-bottom-row-height: 100% - $layout-top-row-height;