//@import "common";
@import "variables";

@mixin tall-in-six-cell {
  height: 66.666%;
}

@mixin short-in-six-cell {
  height: 33.333%;
}

@media screen and (min-width: 768px) {
  #frame {
    height: 100%;
    @include zen-grid-container;

    #hero {
      height: $layout-top-row-height;
      @include zen-grid-item(3, 1);
    }
    #content {
      height: $layout-bottom-row-height;
      @include zen-clear(left);
      @include zen-grid-item(3, 1);
      @include zen-nested-container();
    }

    .six-cell-content {
      #one {
        @include zen-grid-item(1, 1);
        @include tall-in-six-cell;
      }
      #two {
        @include zen-grid-item(1, 4);
        @include tall-in-six-cell;
      }
      #three {
        @include zen-grid-item(2, 2, right);
        @include short-in-six-cell;
      }
      #four {
        @include zen-clear(right);
        @include zen-grid-item(2, 2, right);
        @include short-in-six-cell;
      }
      #five {
        @include zen-clear(left);
        @include zen-grid-item(2, 1);
        @include short-in-six-cell;
      }
      #six {
        @include zen-grid-item(2, 3);
        @include short-in-six-cell;
      }
    }
  }

  #text {
    // couldn't get this working with zen grid
    //@include zen-grid-item(1, 1, right);
    position: absolute;
    background-color: #CCC;
    left: 75%;
    height: 100%;
    width: 25%;
  }

}