//@import "common";
@import "variables";

//@media screen and (min-width: 480px) {
//  #frame {
//
//  }
//}

@mixin tall-cell {
  height: 50%;
}

@mixin short-cell {
  height: 25%;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  #frame {
    height: 100%;
    @include zen-grid-container;
    #hero {
      @include zen-grid-item(4, 1);
      background-color: red;
      height: 40%;
    }
    #content {
      height: 60%;
      @include zen-clear(left);
      @include zen-grid-item(2, 1);
      @include zen-nested-container();
      background-color: #DDD;
      #one {
        @include zen-grid-item(2, 1);
        background-color: #444;
        @include tall-cell;
      }

      #two {
        @include zen-grid-item(2, 1, right);
        background-color: #555;
        @include short-cell;
      }

      #three {
        @include zen-clear(right);
        @include zen-grid-item(2, 1, right);
        background-color: #666;
        @include short-cell;
      }

      #four {
        @include zen-clear(left);
        @include zen-grid-item(4, 1);
        background-color: #777;
        @include short-cell;
      }

      #five {
        @include zen-clear(left);
        @include zen-grid-item(2, 1);
        background-color: #888;
        @include short-cell;
      }

      #six {
        @include zen-grid-item(2, 3);
        background-color: #999;
        @include short-cell;
      }
    }

    #text {
      @include zen-grid-item(2, 3);
      background-color: #CCC;
      height: 100%;
    }
  }
}